{# @var craft \craft\web\twig\variables\CraftVariable #}
{#
/**
 * Bundles plugin for Craft CMS 3.x
 *
 * Bundles index.twig
 *
 * @author    Kurious Agency
 * @copyright Copyright (c) 2019 Kurious Agency
 * @link      https://kurious.agency
 * @package   Bundles
 * @since     1.0.0
 */
#}

{% extends "_layouts/cp" %}
{% import "_includes/forms" as forms %}

{% do view.registerAssetBundle("kuriousagency\\commerce\\bundles\\assetbundles\\bundles\\BundlesAsset") %}
{% do view.registerAssetBundle("kuriousagency\\commerce\\bundles\\assetbundles\\indexcpsection\\IndexCPSectionAsset") %}

{% set docsUrl = "https://github.com/KuriousAgency/bundles/blob/master/README.md" %}

{% set title = "Bundles" %}

{% set pluginCpUrl = url('bundles') %}

{% set iconUrl = view.getAssetManager().getPublishedUrl('@kuriousagency/bundles/assetbundles/indexcpsection/dist', true) ~ '/img/Index-icon.svg' %}

{% set extraPageHeaderHtml %}
    <div class="buttons">
        <a href="{{ pluginCpUrl }}" class="btn submit add icon">{{ "Click Me!"|t('bundles') }}</a>
    </div>
{% endset %}

{% set content %}
    <h2>{{ "Index CP Section body goes here"|t('bundles') }}</h2>
    <img src="{{ iconUrl }}" height="64" width="64" />
    <p class="textline"></p>
{% endset %}
